<div class="container-fluid">
    <app-page-title title="Funcionários" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Upload de planilha de funcionários</h4>
                    <div class="col-sm-auto">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-primary waves-effect waves-light mt-2 me-1" (click)="downloadTemplate();">
                                <i class="bx bx-download me-2"></i> Download Modelo de Importação
                              </button>
                        </div>
                        
                      </div>
                    <form >
                        <div class="mb-2">
                            <label class="form-label">Attached Files</label>
    
                            <dropzone class="dropzone" [config]="dropzoneConfig" [message]="'Arraste e solte sua planilha de funcionários aqui ou clique.'" (success)="onUploadSuccess($event)">
                            </dropzone>                          
                        </div>

                        <div class="col-lg-12 d-flex justify-content-between">
                            <div class="mb-6">
                                <button type="submit" (click)="cancelar()" class="btn btn-light">Cancelar</button>
                            </div>                           
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>